# Environment variables
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db